.backArrow {
    position: fixed;
    z-index: 1000;
    left: 20px;
    top: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Add a transition effect */
    cursor: pointer;
    color: #73BBC9;
    font-size:x-large;
}

.backArrow.visible {
    opacity: 0.7;
}

.backArrow.visible:hover {
    opacity: 1;
    color: blue;
}