.dropDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dropDiv>div{
    width: 190%;
}

.dropDiv>button{
    width: -webkit-fill-available;
    min-height: 42px;
    max-width: fit-content;
    padding: 0px 20px;
    background: #F1D4E5;
    box-shadow: 3px 3px 0px 0px rgba(115, 187, 201, 1);
    letter-spacing: 3px;
}

.dropdown{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
}

.dropdown>div{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
}

.dropdown>div>label{
    display: flex;
    gap: 10p
}

.spoty{
    width: fit-content;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 0px 0px rgba(115, 187, 201, 1);
}

.spoty>i{
    padding: 20px;
}
