.login {
   height: 30%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   align-content: baseline;
}

.login>div{
   width: 100%;
   display: flex;
   justify-content: center;
}

.login>div>h1{
   font-size: 10dvw;
}

.logpage>button {
   padding: 15px;
   width: 80%;
   font-weight: bold;
   background: rgb(178, 199, 178);
   border: 3px solid #4C218B;
   color: #4C218B;
   border-radius: 5px;
   box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.25);
}

.logpage>button:hover {
   background: #4C218B;
   color: beige;
}

.logpage>button:active {
   transform: translateY(4px);
   box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}