.player {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: #FCE9F1;
  border-radius: 8px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
}

.selectMenu {
  width: fit-content;
  min-width: 20vw;
  min-height: 57dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.songDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.songDiv>div{
  width: -webkit-fill-available;
}

.songDiv > button{
  padding: 5px 0px;
  margin-left: 10px;
  box-shadow: 3px 3px 0px 0px rgba(115, 187, 201, 1);
}

.selectMenu>button {
  background: #F1D4E5;
  box-shadow: 3px 3px 0px 0px rgba(115, 187, 201, 1);
  letter-spacing: 3px;
  min-height: 35px;
}

.current {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.currentButton {
  font-family: 'Agbalumo';
  letter-spacing: 3px;
  color: #73BBC9;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(115, 187, 201, 1);
  width: -webkit-fill-available;
}

.panel {
  /* height: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}

.playPause {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.nextPrev {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nextPrev>i {
  cursor: pointer;
  color: grey;
}

.nextPrev>i:hover {
  color: black;
}

@media (max-width: 900px) {
  .player {
    flex-direction: column-reverse;
    height: 100dvh;
    width: 100dvw;
    gap: 10px;
  }

  .selectMenu {
    width: 100%;
    gap: 7px;
  }

  .selectMenu>button {
    margin-top: 10px;
  }

  .panel {
    margin-top: -12px;
    padding: 5px;
  }

  .nextPrev {
    padding: 7px;
    height: 7dvh;
  }
}