.player {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  background-color: #FCE9F1;
  border-radius: 8px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
}

.selectMenu {
  width: 400px;
  min-width: 20vw;
  min-height: 57dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.songDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songDiv>div{
  width: -webkit-fill-available;
}

.songDiv > i{
  margin-left: 10px;
  margin-top: 25px;
  color: #73BBC9;
  font-size: 3dvw;
}

.selectMenu>button {
  background: #F1D4E5;
  box-shadow: 3px 3px 0px 0px rgba(115, 187, 201, 1);
  letter-spacing: 3px;
  min-height: 35px;
}

.current {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.currentButton {
  font-family: 'Agbalumo';
  letter-spacing: 3px;
  color: #73BBC9;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(115, 187, 201, 1);
  width: -webkit-fill-available;
}

@media (max-width: 900px) {
  .player {
    flex-direction: column-reverse;
    height: 100dvh;
    width: 100dvw;
    gap: 10px;
  }

  .selectMenu {
    width: 100%;
    gap: 7px;
  }

  .songDiv > i{
    font-size: 12dvw;
  }

  .selectMenu>button {
    margin-top: 10px;
  }

  .panel {
    margin-top: -12px;
    padding: 5px;
  }

  .nextPrev {
    padding: 7px;
    height: 7dvh;
  }
}