.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.playPause {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.nextPrev {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nextPrev>i {
    cursor: pointer;
    color: grey;
}

.nextPrev>i:hover {
    color: black;
}

@media (max-width: 900px) {
    .panel {
        margin-top: -12px;
        padding: 5px;
        position: sticky;
        z-index: 1000;
    }

    .nextPrev {
        padding: 7px;
        height: 7dvh;
    }
}